.black-background-lighter {
  background-color: #303345; }

.black-background-light {
  background-color: #252836; }

.black-background {
  background-color: #1b1d27; }

.black-background-dark {
  background-color: #111218; }

.black-background-darker {
  background-color: #060709; }

.black-foreground-lighter {
  color: #303345; }

.black-foreground-light {
  color: #252836; }

.black-foreground {
  color: #1b1d27; }

.black-foreground-dark {
  color: #111218; }

.black-foreground-darker {
  color: #060709; }

.white-background-lighter {
  background-color: #f9f5ec; }

.white-background-light {
  background-color: #f2ecd9; }

.white-background {
  background-color: #ece2c6; }

.white-background-dark {
  background-color: #e6d8b3; }

.white-background-darker {
  background-color: #dfcfa0; }

.white-foreground-lighter {
  color: #f9f5ec; }

.white-foreground-light {
  color: #f2ecd9; }

.white-foreground {
  color: #ece2c6; }

.white-foreground-dark {
  color: #e6d8b3; }

.white-foreground-darker {
  color: #dfcfa0; }

.yellow-background-light {
  background-color: #dad675; }

.yellow-background {
  background-color: #cfcb4d; }

.yellow-background-dark {
  background-color: #b8b331; }

.yellow-foreground-light {
  color: #dad675; }

.yellow-foreground {
  color: #cfcb4d; }

.yellow-foreground-dark {
  color: #b8b331; }

.lime-background-light {
  background-color: #a1da75; }

.lime-background {
  background-color: #86cf4d; }

.lime-background-dark {
  background-color: #6cb831; }

.lime-foreground-light {
  color: #a1da75; }

.lime-foreground {
  color: #86cf4d; }

.lime-foreground-dark {
  color: #6cb831; }

.green-background-light {
  background-color: #75da85; }

.green-background {
  background-color: #4dcf62; }

.green-background-dark {
  background-color: #31b847; }

.green-foreground-light {
  color: #75da85; }

.green-foreground {
  color: #4dcf62; }

.green-foreground-dark {
  color: #31b847; }

.aqua-background-light {
  background-color: #75dac2; }

.aqua-background {
  background-color: #4dcfb0; }

.aqua-background-dark {
  background-color: #31b898; }

.aqua-foreground-light {
  color: #75dac2; }

.aqua-foreground {
  color: #4dcfb0; }

.aqua-foreground-dark {
  color: #31b898; }

.azure-background-light {
  background-color: #75b5da; }

.azure-background {
  background-color: #4da0cf; }

.azure-background-dark {
  background-color: #3187b8; }

.azure-foreground-light {
  color: #75b5da; }

.azure-foreground {
  color: #4da0cf; }

.azure-foreground-dark {
  color: #3187b8; }

.blue-background-light {
  background-color: #7579da; }

.blue-background {
  background-color: #4d51cf; }

.blue-background-dark {
  background-color: #3136b8; }

.blue-foreground-light {
  color: #7579da; }

.blue-foreground {
  color: #4d51cf; }

.blue-foreground-dark {
  color: #3136b8; }

.violet-background-light {
  background-color: #ae75da; }

.violet-background {
  background-color: #964dcf; }

.violet-background-dark {
  background-color: #7d31b8; }

.violet-foreground-light {
  color: #ae75da; }

.violet-foreground {
  color: #964dcf; }

.violet-foreground-dark {
  color: #7d31b8; }

.magenta-background-light {
  background-color: #da75ca; }

.magenta-background {
  background-color: #cf4dba; }

.magenta-background-dark {
  background-color: #b831a2; }

.magenta-foreground-light {
  color: #da75ca; }

.magenta-foreground {
  color: #cf4dba; }

.magenta-foreground-dark {
  color: #b831a2; }

.red-background-light {
  background-color: #da758d; }

.red-background {
  background-color: #cf4d6c; }

.red-background-dark {
  background-color: #b83151; }

.red-foreground-light {
  color: #da758d; }

.red-foreground {
  color: #cf4d6c; }

.red-foreground-dark {
  color: #b83151; }

.orange-background-light {
  background-color: #da9a75; }

.orange-background {
  background-color: #cf7c4d; }

.orange-background-dark {
  background-color: #b86231; }

.orange-foreground-light {
  color: #da9a75; }

.orange-foreground {
  color: #cf7c4d; }

.orange-foreground-dark {
  color: #b86231; }
