$page-width: 1160px;
$sidebar-width: 300px;
$page-padding: 3rem;
$border-radius: 0.5rem;

$block-padding: 1rem;
$small-block-padding: $block-padding / 2;

$layout-padding: 3rem;
$small-layout-padding: 3rem / 2;
