$state-primary-background: $azure-light;
$state-primary-border: $azure-dark;
$state-primary-color: $black;

$state-inverted-background: $color-foreground-lighter;
$state-inverted-border: $color-foreground-darker;
$state-inverted-color: $color-background;

$state-success-background: $green-light;
$state-success-border: $green-dark;
$state-success-color: $black;

$state-danger-background: $red-light;
$state-danger-border: $red-dark;
$state-danger-color: $black;

$state-warning-background: $yellow-light;
$state-warning-border: $yellow-dark;
$state-warning-color: $black;
