$color-background-darker: $black-darker;
$color-background-dark: $black-dark;
$color-background: $black;
$color-background-light: $black-light;
$color-background-lighter: $black-lighter;

$color-foreground-darker: $white-darker;
$color-foreground-dark: $white-dark;
$color-foreground: $white;
$color-foreground-light: $white-light;
$color-foreground-lighter: $white-lighter;
