.is-syntax-yellow { color: $yellow; }
.is-syntax-lime { color: $lime; }
.is-syntax-green { color: $green; }
.is-syntax-aqua { color: $aqua; }
.is-syntax-azure { color: $azure; }
.is-syntax-blue { color: $blue; }
.is-syntax-violet { color: $violet; }
.is-syntax-magenta { color: $magenta; }
.is-syntax-red { color: $red; }
.is-syntax-orange { color: $orange; }

.is-syntax-light { color: $color-background-lighter; }









