.is-syntax-shade-1 { color: $shade-1 }
.is-syntax-shade-2 { color: $shade-2 }
.is-syntax-shade-3 { color: $shade-3 }
.is-syntax-shade-4 { color: $shade-4 }
.is-syntax-shade-5 { color: $shade-5 }

.is-syntax-grey-1 { color: $grey-1; }
.is-syntax-grey-2 { color: $grey-2; }
.is-syntax-grey-3 { color: $grey-3; }
.is-syntax-grey-4 { color: $grey-4; }
.is-syntax-grey-5 { color: $grey-5; }
