.code-block {
  @include font-block-body;
  padding: $block-padding;
  counter-reset: line;

  &--line-number:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    margin-right: $block-padding;
    padding-right: $small-block-padding;
    opacity: 0.5;
  }
}
