$demo-buttom-border-bottom: 3px;
$demo-buttom-padding: 5px 7px;
$demo-button-inset: 3px;

$demo-button-color-main: $yellow-dark;
$demo-button-color-other: $yellow-light;

.demo {
  @include font-block-body;
  background-color: $black-light;
  position: relative;

  &--preview {
    padding: $block-padding;
    margin: 0;
    flex: 1 0 auto;
  }

  &--code {
    /* Should use is-inverted */
    box-shadow: none;
    color: $white;
    border-radius: 0;
    margin: 0;
    flex: 1 0 auto;
  }

  &--button {
    display: block;
    position: absolute;
    border: 0;
    border-bottom: $demo-buttom-border-bottom solid $demo-button-color-main;
    padding: $demo-buttom-padding;
    margin: 0;
    right: $demo-button-inset;
    bottom: $demo-button-inset;
    background-color: $demo-button-color-other;
    color: $black;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $demo-button-color-main;
      border-bottom: $demo-buttom-border-bottom solid $demo-button-color-other;
    }

    &:active {
      border-bottom: none;
    }
  }

  &.is-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
