$demo-button-inset: 3px;

.demo {
  @include font-block-body;
  background-color: $color-background-light;
  position: relative;

  &--preview {
    padding: $block-padding;
    margin: 0;
    flex: 1 0 auto;
  }

  &--code {
    color: $color-foreground;
    border-radius: 0;
    margin: 0;
    flex: 1 0 auto;
  }

  &--button {
    display: block;
    position: absolute;
    right: $demo-button-inset;
    bottom: $demo-button-inset;
  }

  &.is-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &.is-default-color {
    background-color: $color-background;
    color: $color-foreground;
    border: 1px solid $color-background-lighter;
  }
}
