.jump-list {
  @include font-block-body;

  &--heading {
    @include font-h3;
    @include font-block-heading;
  }

  &--list {
    list-style-type: none;
    padding-left: 0;
  }

  &--link {
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 0.5rem;
    border-left-color: $shade-2;
  }

  // Add indentation to nested lists.
  &--item > &--list {
    padding-left: 1rem;
  }

  // Nested links get a different color.
  &--list &--list &--link {
    border-left-color: $shade-1;
  }
}
