.jump-list {
  @include font-block-body;

  &--heading {
    @include font-h3;
    @include font-block-heading;
  }

  &--list {
    list-style: none;
    padding: 0;
  }

  &--item {
    margin-bottom: 0.5em;
  }
}
