.section {
  @include section-divider;

  &--heading-1 {
    @include font-block-heading;
    @include font-h2;
  }

  &--heading-2 {
    @include font-block-heading;
    @include font-h3;
  }

  &--heading-3 {
    @include font-block-heading;
    @include font-h4;
  }

  &--heading-4 {
    @include font-block-heading;
    @include font-h5;
  }

  &--heading-5 {
    @include font-block-heading;
    @include font-h6;
  }

  &--heading-6 {
    @include font-block-heading;
  }

  &--paragraph {
    @include font-block-body;
  }

  &--italic {
    @include font-italic;
  }

  &--mark {
    @include font-mark;
  }

  &--code {
    @include font-small;
    @include font-code;
    padding: 0.1em;
    background-color: $grey-1;
  }

  &--blockquote {
    @include font-block-body;
    font-size: $font-size-large-4;
    color: $shade-2;
    padding: $layout-padding;
    text-align: center;
    display: inline-block;
    position: relative;
    font-style: italic;

    &:before {
      content: " ";
      border-top: 3px solid $grey-1;
      position: absolute;
      top: 0;
      width: 50%;
      height: 1px;
      left: 25%;
    }

    &:after {
      content: " ";
      border-top: 3px solid $grey-1;
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 1px;
      left: 25%;
    }
  }
}
