.table {
  @include font-block-body;
  display: table;

  &--heading {
    font-weight: $font-weight-bold;
    border-bottom: 2px solid $grey-1;
    padding: $block-padding / 2;
    color: $font-color-light;
    text-align: left;
  }

  &--cell {
    border-bottom: 1px solid $grey-1;
    padding: $block-padding / 2;
  }
}
