.title {
  @include font-h1;
  @include font-block-heading;
  @include section-divider;

  margin-top: 0;

  &--heading {
    @include font-h1;
    margin: 0;
  }

  &--subheading {
    @include font-h4;
    @include font-block-body;
    font-weight: $font-weight-bold;
    color: $font-color-light;
  }
}
