$list-indent: 1.4em;
$list-item-spacing: $block-padding / 2;

.unordered-list {
  @include font-block-body;

  list-style-type: circle;
  padding-left: $list-indent;

  &--item {
    margin-bottom: $list-item-spacing;
  }

  &--nested-1 {
    list-style-type: square;
    margin-top: $list-item-spacing;
    margin-bottom: $list-item-spacing;
  }

  &--nested-2 {
    list-style-type: disc;
    margin-top: $list-item-spacing;
    margin-bottom: $list-item-spacing;
  }
}
