code {
  font-family: $code-font;
  padding: 0.1em;
  background-color: $black-light;
}

pre {
  font-family: $code-font;
  background-color: $black-dark;
  padding: $block-padding;
  counter-reset: line;
  overflow-x: auto;

  code {
    // Turn off some of the inline styles.
    // Is this a SMACSS base violation?
    padding: 0;
    background-color: transparent;
  }
}
